## Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [ ]:
# Arithmetric Operators
print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2)    # Floor Division :- The division of operands where the result is the quotient in which the digits after the decimal point are removed.

print(5%2)      # Modulus :- It returns the remainder.

print(5**2)     # Exponent :- It returns the result of raising the first operand to the power of the second operand.

11
-1
30
2.5
2
1
25

In [ ]:
# Relational Operators
print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

False
True
True
True
True
False

In [ ]:
# Logical Operators
print(1 and 0) # It returns True if both the operands are True.

print(1 or 0)  # It returns True if any of the operands is True.

print(not 1)   # It returns False if the operand is True and True if the operand is False.

0
1
False

In [ ]:
# Bitwise Operators:- Bitwise operators are fundamental tools in programming that operate directly on binary numbers at the bit level

# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

print(~3)

print(4 >> 2)

print(5 << 2)

2
3
1
-4
1
20

In [1]:
# Assignment Operators

# =
# a = 2

a = 2

# a = a % 2
a %= 2

# a++ ++a

print(a)

0

In [ ]:
# Membership Operators:- Membership operators are used to test if a sequence is presented in an object.

# in/not in

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

False
False

In [1]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number'))
a = number%10

number = number//10
b = number % 10

number = number//10
c = number % 10

print(a + b + c)

6

## If-else in Python

In [ ]:
# login program and indentation
# email -> nitish.campusx@gmail.com
# password -> 1234

email = input('enter email')
password = input('enter password')

if email == 'nitish.campusx@gmail.com' and password == '1234':
  print('Welcome')
elif email == 'nitish.campusx@gmail.com' and password != '1234':
  # tell the user
  print('Incorrect password')
  password = input('enter password again')
  if password == '1234':
    print('Welcome,finally!')
  else:
    print('beta tumse na ho paayega!')
else:
  print('Not correct')

enter emailsrhreh
enter passworderhetjh
Not correct

In [ ]:
# if-else examples
# 1. Find the min of 3 given numbers
# 2. Menu Driven Program

In [ ]:
# min of 3 number

a = int(input('first num'))
b = int(input('second num'))
c = int(input('third num'))

if a<b and a<c:
  print('smallest is',a)
elif b<c:
  print('smallest is',b)
else:
  print('smallest is',c)

first num4
second num1
third num10
smallest is 1

In [ ]:
# menu driven calculator
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance')
else:
  print('exit')

Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
2
balance

## Modules in Python

- math
- keywords
- random
- datetime

## Loops in Python

- Need for loops:- Automation of Repetitive Tasks, Efficient Data Processing, Scalability and Flexibility, Reduced Code Complexity and Improved Readability

- While Loop:- runs as long as a specified condition is true
- For Loop:- iterates over a sequence

### exercise for loops
-                       Basic Questions
- Print numbers from 1 to 10 using a for loop.

- Print even numbers between 1 and 20 using a while loop.

- Print the multiplication table of a given number using a loop.

- Calculate the sum of numbers from 1 to n using a loop.

- Count the number of digits in an integer using a loop.

-                      Intermediate Questions
- Reverse a given number using a loop.

- Find the factorial of a number using a loop.

- Check if a number is prime using a loop.

- Print Fibonacci series up to n terms using a loop.

- Count occurrences of a specific digit in a number using a loop.


-                       Advanced Questions
- Print all prime numbers between 1 and 100 using nested loops.

- Print a pattern (like a pyramid or triangle) using loops.

- Find the greatest common divisor (GCD) of two numbers using a loop.

- Reverse a string using a loop (without using built-in functions).

- Implement a number guessing game using a loop.

In [3]:
# printing numbers using a for loop
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
# Print even numbers between 1 to 20 using while loop
i = 2
while i <= 20 :
    if i % 2 == 0:
        print(i)
    i +=1

2
4
6
8
10
12
14
16
18
20

In [13]:
# Print the multiplication table of a given number using for loop
num  = int(input(("Enter a number here:")))
for i in range (1,11):
    print(num, "x", i, "=" ,num*i)


# Print the multiplication table of a given number using while loop

i = 1
while i <= 10:
    print(num, "x", i, "=", num*i)
    i += 1

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [14]:
# Calculate the sum of numbers from 1 to n using for loop
n = int(input("Enter a number here:"))
sum = 0
for i in range (1,n+1):
    sum += i
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78

In [ ]:
number = int(input('enter the number'))

i = 1

while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

enter the number12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [ ]:

print("Enter a number here")
num = int(input())
list = []
for i in range(1,11):
    list.append(num*i)
    print(num, "*", i, "=", num*i)
print(list)

Enter a number here
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

In [ ]:

print("Enter a number here")
num = int(input())
sum = 0
for i in range(num+1):
    sum += i
print(sum)

Enter a number here
78

In [3]:
print("Enter a number here:")
num = int(input())
product = 1
for i in range (1, num+1):
    product *= i
print(product)

Enter a number here:
120

In [11]:
# printing right angle triangle pattern
n = int(input("Enter a number here:"))
for i in range (n):
    for j in range(i+1):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [12]:
n = 5
for i in range(n):
    for j in range(i + 1):
        
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [1]:
# while loop with else

x = 1

while x < 3:
  print(x)
  x += 1

else:
  print('limit crossed')

1
2
limit crossed

In [ ]:
# Guessing game

# generate a random integer between 1 and 100
import random
jackpot = random.randint(1,100)

guess = int(input('guess karo'))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print('galat!guess higher')
  else:
    print('galat!guess lower')

  guess = int(input('guess karo'))
  counter += 1

else:
  print('correct guess')
  print('attempts',counter)

guess karo7
galat!guess higher
guess karo50
galat!guess lower
guess karo30
galat!guess higher
guess karo40
galat!guess lower
guess karo35
galat!guess lower
guess karo32
galat!guess higher
guess karo33
correct guess
attempts 7

In [1]:
print("When India gets its independence?")
year = int(input("Enter the year:"))

if year == 1947:
    print("Hurray you are correct")
else:
    print("Sorry you are wrong")
    print("Try once again")
    year = int(input("Enter the year:"))
    if year == 1947:
        print("Hurray you are correct")
    else :
        print("Sorry you are wrong again")
        print("you have exhausted all your chances")

When India gets its independence?
Sorry you are wrong
Try once again
Sorry you are wrong again
you have exhausted all your chances

In [9]:
print("when did India get its independence?")
year = int(input("Enter the year:"))

while year != 1947:
    print("Sorry you are wrong")
    print("Try once again")
    year = int(input("Enter the year:"))

when did India get its independence?
Sorry you are wrong
Try once again
Sorry you are wrong
Try once again

In [11]:
num = int(input("Enter a number:"))
fact = 1
while num > 0:
    fact = fact * num 
    num = num -1
print("Factorial of the number is:",fact)

Factorial of the number is: 120

In [13]:

num = int(input("Enter the number here:"))

i = 1
answer = 1

while i <= num:
    answer = answer *i
    i = i + 1

print("Factorial of the number is:",answer)

Factorial of the number is: 24

In [ ]:
# For loop demo

for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

In [ ]:
# For loop examples

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
# Code Used in the session
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop - 0.1*curr_pop

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [ ]:
# Correct Answer of above question:
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop /= 1.1

#### Explanation :



To calculate the population for each year with a 10% increase, you can use a simpler equation based on the previous year's population. Let's assume the population of the previous year is represented by variable x.

The equation can be written as:

> Current Year Population = x * 1.1

In this equation, the current year's population is equal to the previous year's population multiplied by 1.1, representing a 10% increase.

To find the population of the previous year (x), we can rearrange the equation as follows:

> x = Current Year Population / 1.1

Using this simplified equation, if you have the current year's population (e.g., 10,000), you can divide it by 1.1 to calculate the population of the previous year.

This equation allows you to calculate the population for each year, assuming you know the population of the current year and want to find the population of the previous year.

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
# code here

In [ ]:
# For loop vs While loops (When to use what?)

## Nested Loops

In [ ]:
# Examples

In [ ]:
# Program - Unique combination of 1,2,3,4
# Program - Pattern 1 and 2

### Pattern 1


*** <br>
**** <br>
***<br>

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

## Loop Control Statement

- Break :- Terminates the loop and transfers execution to the statement immediately following the loop.
- Continue:- skips the rest of the code inside the loop for the current iteration and moves to the next iteration of the loop.
- Pass:-  Does nothing and is used as a placeholder

In [ ]:
# Break demo

In [ ]:
# Break example (Linear Search) -> Prime number in a given range

In [ ]:
# Continue demo

In [ ]:
# Continue Example (Ecommerce)

In [ ]:
# Pass demo

In [18]:
num = int(input("Enter the number here:"))
i = 1
fact = 1
if num <0:
    print("not defined")
else:
    while i <= num :
        fact = fact *num
        num = num -1
    
    print("Factorial of the number is:",fact)

not defined

In [12]:
# sum of n natural numbers
n = int(input("Enter the number here:"))

sum = 0
list = []

for i in range (1,n +1):
    sum = sum + i
    list.append(sum)
     
    
print("List of sum of n natural numbers is:",list)
print(sum)
print(tuple(list))

List of sum of n natural numbers is: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]
55
(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

In [19]:
# find no of digit in given no
num = abs(int(input("Enter  the number here :")))
# abs function :- returns the absolute value of a given number. absolute value of a number is its distance from zero on the number line, without considering its sign
digits = 1
while num>9:
    num = num//10
    digits = digits + 1
print("Number of digits in the given number is:",digits)

Number of digits in the given number is: 5